.cards__btn-like {
    grid-column: 2/3;
    margin-left: 20px;
    align-self: stretch;
    background-image: url(../../../images/btn-like-heart.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    border: none;
    background-color: white;
}

.cards__btn-like:focus {
    outline: none;
}