.element__like {
    background: transparent url(../../../images/like-heart.svg);
    width: 21px;
    height: 19px;
    border: none;
    background-color: transparent;
    padding: 0;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    margin: 30px 21px;
}

.element__like:hover {
    opacity: .5;
}