.popup__input {
    display: block;
    margin-top: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
}