.profile {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    width: 882px;
    margin: 40px auto 51px;
    align-items: center;
}
  
@media screen and (max-width: 900px) {
    .profile {
      max-width: 90vw;
      margin: 38px auto 36px;
      flex-direction: column;
      justify-content: center;
    }
}