@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__btn-like/cards__btn-like.css);

.cards {
    width: 100%;
    padding: 45px 0;
    padding-bottom: 6px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 18px;
    row-gap: 21px;
    list-style: none;
}

@media screen and (max-width: 768px) {
    .cards  {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 18px;
    }
}

@media screen and (max-width: 420px) {
    .cards  {
        grid-template-columns: 1fr;
    }
}