.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin-bottom: 41px;
}


@media screen and (max-width: 620px) {
  .header__logo {
      width: 122px;
      height: 29px;
      margin-bottom: 30px;
  }
}


@media screen and (max-width: 380px) {
  .header__logo {
      width: 100px;
      height: 25px;
      padding-left: 20px;
  }
}