.header__logo {
  max-width: 142px;
  min-height: 33px;
  left: 200px;
  top: 45px;
}

@media screen and (max-width: 420px) {
    .header__logo {
        max-width: 103px;
        max-height: 24px;
        margin: 0 auto 0 27px;
    }
}