.popup__submit-button {
	width: 100%;
	min-height: 50px;
    margin-top: 18px;
    color: #ffffff;
    background: #000000;
    border-radius: 2px;
	font-family: "Inter", Arial, sans-serif;
	font-size: 14px;
	line-height: 16.94px;
	text-align: center;
	font-weight: 400;
	font-style: normal;
	display: block;
	cursor: pointer;
}

.popup__submit-button:disabled {
  opacity: 0.2;
  background: white;
  border: 1px solid #000;
  color: #000;
  pointer-events: none;
  user-select: none;
}

.popup__submit-button:hover {
	opacity: 0.8;
    transition: opacity linear 0.5s;
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
