.popup__submit {
    display: block;
    width: 100%;
    min-height: 50.15px;
    margin-top: 57px;
    border: 0;
    color: white;
    background-color: black;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
}