.popup__close {
    position: absolute;
    top: -32px;
    right: -32px;
    width: 42px;
    height: 42px;
    border: none;
    background: none;
    background-image: url(../../../images/icon-close.svg);
    background-size: contain;

}

.popup__close:focus {
    outline: none;
} 

@media screen and (max-width: 420px) {
    .popup__close {
        top: 5px;
        right: 5px;
        width: 32px;
        height: 32px;
        filter: invert(100%);
    }
} 