.profile__description {
	text-align: justify; 
	margin: 0;
	min-width: 250px;
	padding-top: 14px;
	padding-bottom: 36px;
	font-size: 14px;
	line-height: 17px;
	font-style: normal;
  word-break:break-all;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
	.profile__description {
		padding-top: 16px;
		text-align: left;
		font-size: 18px;
		line-height: 22px;
    min-width: 200px;
		overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
		text-overflow: ellipsis;
	}
}