.popup__window {
	min-width: 330px;
	border: 1px solid rgba(0, 0, 0, 1);
	border-radius: 10px;
	background-color: #ffffff;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

@media screen and (min-width: 1024px) {
	.popup__window {
		width: 430px;
	}
}
