.popup__form-item {
	color: #000000;
	font-family: "Inter", Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 16.94px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	width: 238px;
	box-sizing: border-box;
	padding-bottom: 13px;
}

@media screen and (min-width: 1024px) {
	.popup__form-item {
		width: 358px;
		margin-bottom: 0px;
	}
}