.profile__picture{
    grid-area: picture;
    max-width: 120px;
    justify-self: start;
    align-self: center;
    border-radius: 50%;
}


@media screen and (max-width: 500px) {
    .profile__picture  {
        width: 100%;
        justify-self: center;
    }
}