.profile__btn-edit {
    grid-area: edit;
    width: 24px;
    height: 24px;
    align-self: end;
    justify-self: start;
    margin-bottom: 12px;
    background: none;
    background-image: url(../../../images/btn-edit-pencil.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    border: 1px solid white;
}

@media screen and (max-width: 768px) {
    .profile__btn-edit  {
         margin-bottom: 8px;
    }
}

@media screen and (max-width: 500px) {
    .profile__btn-edit  {
        width: 18px;
        height: 18px;
        margin: 0;
        align-self: center;
        justify-self: start;
    }
}